<div class="registration_wrap">
  <%= image_tag "3.png", class:"regi_logo" %>


  <div class="regi_inner">
    <h1 class="regi_h1">Log In</h1>
    <%= form_with model:@shop,url: shop_session_path, method: :post,data: { turbo: false } ,local: true do |f| %>
      <%= render "shop/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :メールアドレス,class:"regi_label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"regi_field",placeholder:"例)example@example.com"%>
      </div>

      <div class="field">
        <%= f.label :パスワード ,class:"regi_label"%><br />
        <%= f.password_field :password, autocomplete: "current-password",class:"regi_field",placeholder:"数字・大小英文字含めた６文字以上" %>
      </div>

      <div class="actions_flex">
        <% if devise_mapping.rememberable? %>

          <%# <div class="log_checkbox">
            <%= f.check_box :remember_me %>
            <%# <%= f.label :ログイン状態を保存する,class:"rem_label" %>
          <%# </div> %>
          <%= f.submit "ログイン",class:"log_submit" %>

        <% end %>
      </div>

      <div class="log_bottom_div">
        <p class="log_bottom_p">
          <%= link_to "パスワードをお忘れの方はこちら","#",class:"log_bottom_a"%>
        </p>
        <p class="log_bottom_p">
          <%= link_to "新規登録がまだの方はこちら",new_shop_registration_path,class:"log_bottom_a"%>
        </p>
      </div>

    <% end %>

  </div>
</div>
